$primaryColor: #fff;
$secondaryColor: #000;
$borderColor: $secondaryColor;

$backgroundColor: $secondaryColor;

$primaryFontColor: darken($primaryColor, 90%);
$secondaryFontColor: $secondaryColor;
$btnBackgroundColor: $secondaryColor;

$boxShadowColor: lighten($btnBackgroundColor, 10%);
